
#footer {
	overflow: hidden;
	margin: -12px 0px 0px 0px;
}

#footer ul{
	clear: both;
	border-top: 3px solid #006837;
}

#footer li{
	list-style: none;
}

#copyright {
	clear: both;
	color: white;
	font-size: 60px;
	text-align: center;
	height: 150px;
	background: #006837;
	justify-content: center;
    display: flex;
	align-items: center;
	margin-bottom: 100px;
}