
<% @page_title = $eequip.name %> 
<% @title2 = $eequip.name %> 

<% $eequips.each do |eequip| %>

	<% if $eequip.equip_img.present? %>
		<% @image1 = image_tag $eequip.equip_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $eequip.explain.present? %>
			<p><%= $eshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>