
#main-feature {
	clear: both;
	margin-bottom: 200px; 
}

h1 {
	width: 900px;
	color: #006837;
	font-size: 30px;
	margin: 0px auto;
}

h2 {
	text-align: center;
	margin: 0px auto;
	font-size: 40px;
	color: #006837;
}

#code {
	width: 800px;
	margin: 0px auto;
	border: 3px solid #006837;
	border-radius: 30px;
	padding: 20px 20px 20px 20px;
	margin-top: 100px;
}

#code p{
	color: #006837;
	font-size: 25px;
}