
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
}

.slick-dots {
    display: block;
    padding: 0;
    margin: 0px 0px 0px 10px;
    list-style: none;
    width: 900px;

}

.slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
    cursor: pointer;
    clear both;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    width: 20px;
    height: 20px;

    content: '';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border: 3px solid;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
