
#main-feature {
	margin: 0px auto;
	padding-bottom: 200px;
	overflow: hidden;
	width: 960px;
    clear: both; 
}

#new {
	clear: both;
	width: 500px;
	height: 60px;
	display: flex;
	color: #8CC63F;
	font-size: 35px;
	margin: 0px auto;
	text-align: center;
	border-radius: 20px;
	align-items: center;
	margin-bottom: 100px;
	justify-content: center;
	border: 3px solid #8CC63F;
}

#feature-wrapper a {
	color: inherit;
	text-decoration: none;
}

#box {
	text-align: center;
	margin: 50px 100px 30px 100px;
}

#list{	
	font-size: 70px;
	color: #006837;
	width: 750px; 
	height: 120px;
	border: 3px solid #006837;
	border-radius: 20px;
	display: flex;  
	align-items: center;
	justify-content: center;
}

#stime{	
	font-size: 30px;
	margin: 0px auto; 
	text-align: center;
}

#edit{
	float: right;
	font-size: 30px;
	margin: 0px 100px 30px 0px;
	width: 200px;
	height: 50px;
	color: #8CC63F;
	clear: both;
	border: 3px solid #8CC63F;
	border-radius: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
}

#edit2{
	clear: both;
	width: 250px;
	height: 60px;
	margin-bottom: 80px;
	display: flex;
	color: #8CC63F;
	font-size: 35px;
	margin: 0px auto;
	text-align: center;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	border: 3px solid #8CC63F;
}

#delete{
	float: right;
	font-size: 20px;
	margin: 0px 100px 0px 0px;
}

#price {
	text-align: center;
	font-size: 40px;
	clear: both;
	margin-top: 80px;
	margin-bottom: 80px;
}

#menuline{
	text-align: center;
	font-size: 45px;
	color: #006837;
	border-bottom: 3px solid #006837;
	width: 800px;
	margin: 0px auto;
	margin-top: 80px;
}

#content1{
	font-size: 25px;
	color: #006837;
	width: 800px;
	margin: 0px auto;
	clear: both;
	margin-top: 100px; 
	float: left;
	margin-left: 80px;
}

#content0{
	text-align: center;
	font-size: 25px;
	color: #006837;
	width: 800px;
	margin: 0px auto;
	clear: both;
	margin-top: 100px; 
}

#plus{
	color: #006837;
	text-align: center;
	font-size: 50px;
	margin-top: 30px;
}