#main-feature {
	margin: 0px auto;
	padding-top: 50px;
	overflow: hidden;
	clear: both;
	width: 960px;
	margin-bottom: 100px;
}

#edit {
	text-align: center;
	font-size: 35px;
	width: 250px;
	height: 60px;
	margin: 0px auto;
	margin-bottom: 100px;
	color: #8CC63F;
	clear: both;
	border: 3px solid #8CC63F;
	border-radius: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
}

#box1 {
	clear: both;
	width: 930px;
	margin: 0px auto;
	border-bottom: 3px solid #006837;
	border-radius: 10px;
	background: white;
}

#box2 {
	clear: both;
	width: 930px;
	margin: 0px auto;
	margin-top: 100px;
	border-bottom: 3px solid #006837;
	border-radius: 10px;
	background: white;
}

#box3 {
	clear: both;
	width: 930px;
	margin: 0px auto;
	margin-top: 100px;
	border-radius: 10px;
	background: white;
}

#a1 { 
	color: #006837;
	font-size: 40px;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 60px; 
}

#b1 {
	font-size: 70px; 
	padding: 20px;
	text-align: center;
	margin: 0px auto;
}

#b2 {
	font-size: 30px; 
	text-align: center;
	margin: 0px auto;
}

#b3 {
	margin: 0px auto;
	width: 800px;
}

#b3 p {
	font-size: 30px; 
	float: left;
	border-bottom: 3px solid #006837;
}

a{
	text-decoration: none;
}
