
<% @page_title = $bstaff.name %> 
<% @title2 = $bstaff.name %> 

<%= content_for(:edit) do %>
	<div id="edit">
    	<%= link_to '✐編集', staff_img_mybshop_mybstaffc_mybstaff_path(id:$bstaff) %>
    </div>    
<% end %>

<% $bstaffs.each do |bstaff| %>

	<% if $bstaff.staff_img.present? %>
		<% @image1 = image_tag $bstaff.staff_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $bstaff.explain.present? %>
			<p><%= $bshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>