
#new {
	text-align: center;
	font-size: 35px;
	width: 300px;
	height: 60px;
	margin: 0px auto;
	margin-bottom: 50px; 
	color: #8CC63F;
	clear: both;
	border: 3px solid #8CC63F;
	border-radius: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

#main-feature {
	clear: both;
	overflow: hidden;
	width: 960px;
	margin: 0px 0px 200px 0px;
}

#delete{
	font-size: 25px;
	margin: 0px 0px 8px 0px;
}

#shopx {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	margin: 0px auto;
	width: 900px;
	height: 315px;
	margin: 0px auto; 
	margin-top: 10px;
	padding-bottom: 30px;
	color: #006837;
}

#toppic {
	float: left;
	width: 420px;
	height: 315px;
	overflow: hidden;
	background: transparent;
}

#toppic img{
	width: 420px;
	height: 315px;
}

#explains {
	float: right;
	width: 470px;
	height: 315px;
	overflow: hidden;
}

#shop_name {
	float: left;
	font-size: 30px;
	text-align: center;
	margin: 0px 0px 0px 10px;
	padding-bottom: 3px;
	clear: both;
}

#account_name {
	color: grey;
	float: left;
	font-size: 30px;
	margin: 10px 0px 0px 10px;
	clear: both;
}

#ptag{
	float: left;
	font-size: 25px;
	display: flex;
	clear: both;
}

#ptag p{
	color: grey;
	margin: 10px 0px 0px 10px
}

#tag{
	float: left;
	font-size: 25px;
	display: flex;
	clear: both;
}

#tag p{
	color: grey;
	margin: 5px 0px 0px 10px
}

#edittop {
	clear: both;
	color:white;
	width: 900px;
	font-size: 50px;
	text-align: center;
	border-bottom: 3px solid;
	margin: 0px auto;
	margin-top: -80px;
	background :grey;
	align-items: center;
	display: flex;
	justify-content: center;
}


a {
	text-decoration: none;
}
