
<% @page_title = $dstaff.name %> 
<% @title2 = $dstaff.name %> 

<% $dstaffs.each do |dstaff| %>

	<% if $dstaff.staff_img.present? %>
		<% @image1 = image_tag $dstaff.staff_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $dstaff.explain.present? %>
			<p><%= $dshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>