

<div id="second-feature">

	<div id="o1">
		<%= link_to @subnavi1 do %><p><%= image_tag("template/pub")%></p><% end %>
    </div>

	<div id="notice">
	  <p id=letter>お知らせ</p>

		<a class="twitter-timeline" data-width="367" data-height="408" data-chrome=”nofooter” href="https://twitter.com/FIND98831770">
		Tweets by FIND98831770
	    </a>

	    <a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></a>
	</div>

	<div id="o2">
		<%= link_to @subnavi2 do %><p><%= image_tag("shopnavi/pay")%></p><% end %>
	</div>

</div>