
<% @page_title = $cstaff.name %> 
<% @title2 = $cstaff.name %> 

<% $cstaffs.each do |cstaff| %>

	<% if $cstaff.staff_img.present? %>
		<% @image1 = image_tag $cstaff.staff_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $cstaff.explain.present? %>
			<p><%= $cshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>