
<% @page_title = $gequip.name %> 
<% @title2 = $gequip.name %> 

<%= content_for(:edit) do %>
	<div id="edit">
    	<%= link_to '✐編集', equip_img_mygshop_mygequipc_mygequip_path(id:$gequip) %>
    </div>    
<% end %>

<% $gequips.each do |gequip| %>

	<% if $gequip.equip_img.present? %>
		<% @image1 = image_tag $gequip.equip_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $gequip.explain.present? %>
			<p><%= $gequip.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>