
<% @page_title = "問い合わせ" %>
<% @title = @page_title %> 
<% @back = "javascript:history.go(-1)"%>

<%= content_for(:main)  do %>
	<%= stylesheet_link_tag "footers/pp", :media => "all" %>

	<div id="main-feature">


	</div>

<% end %>