
<% @page_title = "免責事項" %>
<% @title = @page_title %> 
<% @back = "javascript:history.go(-1)"%>

<%= content_for(:main)  do %>
<%= stylesheet_link_tag "footers/pp", :media => "all" %>
<div id="main-feature">

	<div id="code">
		<h2>①</h2><br>
		<p>当サイトは、当サイトにコンテンツを掲載するにあたって、その内容、機能等について細心の注意を払っておりますが、コンテンツの内容が正確であるかどうか、最新のものであるかどうか、安全なものであるか等について保証をするものではなく、何らの責任を負うものではありません。</p>
	</div>

	<div id="code">
		<h2>②</h2><br>
		<p>管理人は通知することなく当サイトに掲載した情報の訂正、修正、追加、中断、削除等をいつでも行うことができるものとします。</p>
		<p>また、当サイト、またはコンテンツのご利用により、万一、ユーザーに何らかの不都合や損害が発生したとしても、当サイトは何らの責任を負うものではありません。</p>
	</div>

	<div id="code">
		<h2>③</h2><br>
		<p>当サイトを利用したウェブサイトの閲覧や情報収集については、情報がユーザーの需要に適合するものか否か、情報の保存や複製その他ユーザーによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、利用者ご自身の責任において行っていただきますようお願いいたします。</p>
	</div>

	<div id="code">
		<h2>④</h2><br>
		<p>当サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。</p>
	</div>

</div>

<% end %>