
<% @page_title = $dequip.name %> 
<% @title2 = $dequip.name %> 

<% $dequips.each do |dequip| %>

	<% if $dequip.equip_img.present? %>
		<% @image1 = image_tag $dequip.equip_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $dequip.explain.present? %>
			<p><%= $dshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>