
#main-feature {
	margin: 200px 0px 0px 0px;
	padding: 0px 200px 200px 0px;
	clear: both;
	overflow: hidden;
	width: 960px;
}

#new {
	text-align: center;
	font-size: 30px;
	width: 250px;
	height: 50px;
	margin: 0px auto;
	color: #8CC63F;
	clear: both;
	border: 3px solid #8CC63F;
	border-radius: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
}

#edit{
	font-size: 25px;
	clear: both;
	text-align: center;
	color: #006837;
}

#each_equip{
	width: 960px;
	margin: 0px auto;
	align-items: center;
}

#equip{
	float: left;
	margin: 50px 0px 0px 53px;
	list-style: none;
}

#top_pic img{
	overflow: hidden;
    width: 400px;
	height: 400px;
	border: 2px solid #006837;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#equip_name{
	font-size: 20px;
	text-align: center;
	margin: 5px 0px 0px 0px;
	padding-bottom: 3px;
	clear: both;
}

a {
	text-decoration: none;
}