
<% @page_title = $fequip.name %> 
<% @title2 = $fequip.name %> 

<% $fequips.each do |fequip| %>

	<% if $fequip.equip_img.present? %>
		<% @image1 = image_tag $fequip.equip_img_url %>
	<% else %>
		<% @image1 = image_tag "template/logo3" %>
	<% end %>

	<% if $fequip.explain.present? %>
			<p><%= $fshop.explain %></p>
	<% else %>
			<p>未入力</p>
	<% end %>

<% end %>