
<%= content_for(:main)  do %>

	<%= stylesheet_link_tag "selecter", :media => "all" %>

	<div id="main-feature">

		<h1>新しいグルメカテゴリー</h1>

		<%= render 'form', gcategory: $gcategory %>

		<div id="prev"><%= link_to '戻る', gcategories_path %></div>

	</div>

<% end %>