
input[type="file"] {
	height: 200px;
	padding-top: 60px;
	border: 3px solid #006837;
	background: #006837;
	display: none;
}

input[type="checkbox"] {
	-ms-transform: scale(5.5, 5.5);
	-webkit-transform: scale(5.5, 5.5);
	  transform: scale(5.5, 5.5);
	margin-right: 50px;
	margin-top: -20;
}

input[type="submit"] {
	clear: both;
	width: 870px;
	height: 100px;
	font-size: 40px;
	color: black;
	text-align: center;
	align-items: center;
	margin-top: 30px;
}

#actions {
	clear: both;
	width: 960px;
    text-align: center;
}

#eback {
	clear: both;
	width: 870px;
    height: 100px;
	display: flex;
	color: #006837;
	font-size: 60px;
	margin: 0px auto;
	background: white;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	border: 3px solid #006837;
}

#picdelete{
	clear: both;
	margin-top: 200px;
	font-size: 60px;
	text-align: center;
}

#main-feature {
	width: 960px;
	padding-bottom: 0px;
    margin: auto 0px;
	overflow: hidden;
    text-align: center;
    margin-top: 130px
}

#edit {
	clear: both;
	width: 250px;
	height: 60px;
	display: flex;
	color: #8CC63F;
	font-size: 35px;
	margin: 0px auto;
	text-align: center;
	border-radius: 20px;
    margin-top: 200px;
	align-items: center;
	justify-content: center;
	border: 3px solid #8CC63F;
}

#fooddetails {
	clear: both;
	padding-top: 50px;
	text-align: center;
}

#menutitle{
	font-size: 80px;
	color: #006837;
}

#menuprice{
	clear: both;
	padding-top: 20px;
	font-size: 50px;;
}

.mainImage img { 
	text-align:center ;
	width: 960px ;
	height: 840px;
	margin-bottom: 30px;
	clear: both; 
}

.pubmainImage img { 
	text-align:center ;
	width: 600px ;
	height: 600px;
	margin-bottom: 30px;
	clear: both; 
	border: 3px solid #006837;
}

.thumbnails {
	width: 600px ;
	margin: 0px auto ;
}

.thumbnails img {
	float: left;
	width: 190px;
	height: 190px;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 0px 5px;
}

#second-feature {
	width: 850px;
	clear: both;
	color: #8CC63F;
	margin: 0px auto;
	text-align: center;
	border-radius: 20px;
	margin-top: 100px;
	margin-bottom: 300px;
	padding-bottom: 200px;
	border: 3px solid #006837;
}

#ingredient {
	margin: 0 auto;
	font-size: 30px;
	border-bottom: 3px solid #006837;
}

#list {
	float: left;
	font-size: 40px;
	margin: 10px 0px 0px 10px;
}

a{
	text-decoration: none;
}