

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <title><%= page_title %></title>
	<% end %>


	<% @page_title = $bshop.shopname %> 
	<% @title = @page_title %>

	<% @back = prefec_bshop_bshops_path(prefec_id:$prefec) %>
	<% @city = @back %>

	<% @image1  =  image_tag $bshop.shopimage1_url %> 
	<% @image2  =  image_tag $bshop.shopimage2_url %> 
	<% @image3  =  image_tag $bshop.shopimage3_url %>
   
    <% @navi4 = contact_prefec_bshop_bshop_path %>
	<% @navi5 = access_prefec_bshop_bshop_path %>
	<% @navi6 = info_prefec_bshop_bshop_path %>
	<% @navi7 =  contact_prefec_bshop_bshop_path %>
	<% @navi8 =  time_prefec_bshop_bshop_path %>

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

