
a{
	text-decoration: none;
}

.main-navi {
	clear: both;
	width: 910px;
	margin: 0px auto;
	padding-top: 3px;
}

#tab {
	clear: both;
	width: 910px;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

.tabs{
	display: flex;
	margin: 0px auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}

.tabs li{
	color: white;
	width: 185px;
	height: 210px;
	display: flex;
	align-items: center;
	border-radius: 25px;
	justify-content: center;
	border: 8px solid #006837;
}

.tabs img{
	width: 180px;
	overflow: hidden;
}

