
a{
	text-decoration: none;
}

.main-navi {
	clear: both;
	width: 910px;
	margin: 0px auto;
	padding-top: 3px;
	border-top: 3px solid #006837;
}

#tabs1 {
	display: flex;
	margin: 0px auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}

#tabs2 {
	display: flex;
	margin: 0px auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}

#o2{
	width: 185px;
	height: 210px;
	display: flex;
	border-radius: 25px;
	align-items: center;
	justify-content: center;
	border: 8px solid #006837;
	background: #ccc;
}

#o1{
	width: 185px;
	height: 210px;
	display: flex;
	border-radius: 25px;
	align-items: center;
	justify-content: center;
	border: 8px solid #006837;
	background: white;
}

#o1 img{
	width: 180px;
}

#o2 img{
	width: 180px;
	background: #ccc;
}