#main-feature {
	width: 960px;
    padding: 50px 0px 100px 0px;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

#main-feature p{
    color: #006837;
    width: 450px;
    height: 100px;
    display: flex;
    font-size: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 50px 0px;
    padding: 10px 0px 10px 0px;
    border: 3px solid #006837;
}

#citys {
    float: left;
    margin: 0px 0px 0px 16px;
}
