#main-feature {
	clear: both;
	overflow: hidden;
	width: 960px;
        padding: 70px 0px 0px 0px;
	margin: 50x 0px 0px 0px;
}

#main-feature p{
	color: #006837;
	font-size: 70px;
	margin-top: 50px;
}
