#main-feature {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 100px 0px;
	clear: both;
	overflow: hidden;
	width: 960px;
}

#main-feature img{
	width: 400px;
	height: 400px;
}

#a {
	font-size: 30px;
	text-align: center;
	margin: 5px 0px 0px 0px;
	padding-bottom: 3px;
	clear: both;
}

#aa{
	font-size: 30px;
	text-align: center;
	margin: -5px 0px 0px 0px;
	padding-bottom: 3px;
	clear: both;
}

#aaa, #ddd {
	font-size: 30px;
	text-align: center;
	margin: 0px 0px 5px 0px;
	padding-bottom: 3px;
	clear: both;
}

#shops-d{
	margin: 95px 0px 0px -35px;
	list-style: none;
	clear: both;
}

#shopx {
	clear: both;
	float: left;
    width: 400px;
    height: 400px;
    border: 3px solid #006837;
    margin: 10px 0px 100px 25px; 
}

#shopy {
	float: right;
    width: 400px;
    height: 400px;
    border: 3px solid #006837;
    margin: 10px 25px 100px 0px; 
}


a {
	text-decoration: none;
}