
#guide {
   text-align: center;
   size: 50px;
}

#uname2 {
	clear: both;
	height: 60px;
	margin: 0px auto;
	margin-top: 150px;
	margin-bottom: 150px;
	text-align: center;
}

#mybox {
	margin: 0px auto;
	margin-top: 10px; 
	padding-bottom: 10px;
	font-size: 30px;
	clear: both;
	width: 950px;
	height: 300px;
	background: white;
	border-bottom: 4px solid #006837;
}

#myboxx {
	margin: 0px auto;
	margin-top: 10px; 
	padding-bottom: 10px;
	font-size: 30px;
	clear: both;
	width: 950px;
	height: 300px;
	background: #ccc;
	border-bottom: 4px solid #006837;
}

#mypic {
	text-align: center;
	justify-content: center;
	align-items: center;
	float: left;
	list-style: none;
	border: 3px solid grey;
	border-radius: 30px;
	margin: 0px auto;
	margin-top: 15px;
	margin-left: 10px;
	width: 270px;
	height: 270px;
	display: flex;
}


#mytext {
	width: 600px;
	height: 270px;
	float: right;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#mytext p {
	margin-top: 100px;
	font-size: 60px;
}