#main-feature {
	width: 965px;
	clear: both;
	overflow: hidden;
	postion: relative;
}

#main-feature p{
	color: #FFFFFF;
	font-size: 70px;
	position: absolute; 
    	left: 10px; 
    	top: 10px; 
}
