#main-feature {
	width: 965px;
	clear: both;
	padding-top: 120px;
	position: relative;
}

#main-feature p{
	color: white;
	font-size: 80px;
	background-color:rgba(0,0,0,0.5);
	overflow: hidden;
	position: absolute;
	top: 30px;
	padding: 0px, 50px, 0px, 50px;
	clear: both;
}
