
<%= stylesheet_link_tag "selecter", :media => "all" %>

<div id="main-feature">

	<h1>New Category</h1>

	<%= render 'form', category: $category %>

	<div id="prev"><%= link_to 'Back', categories_path %></div>

</div>