
<div id="ad">
    <p id="ada">広告</p>

        <div class="child1">
            <div class="img">
              
              <%= link_to image_tag("prefecture/chyugoku/hiroshima/higashihiroshima/shop/food/cafe/waki/ad", { 
               :size =>'400x400', :alt =>'FIND　find999 広島県　東広島市 喫茶わき'}), shops_chyuugoku_hiroshima_higashihiroshima_food_cafe_a_homes_path %>
	
             </div>

            <h2 class="title">喫茶わき</h2>
        </div>

        <div class="child2">
            <div class="img">

              <%= link_to image_tag("top/3", { 
               :size =>'400x400', :alt =>'FIND　find999 広島県　東広島市'}), areas_chyuugoku_prefecture_citys_path %>
                 
            </div>
            
            <h2 class="title">東広島市</h2>              
        </div>
</div>	