
<div class="main-navi">

    <div id="tab">

             <div class="tabs">
                 <li rel="panel1" class="active">ヨーロッパ</li>
                 <li rel="panel2" class="active">アフリカ</li>
                 <li rel="panel3" class="active">ユーラシア</li>
             </div> 

    </div>

    <div id="tab">

           <div class="tabs">
               <%= link_to @navi4 do %><li rel="panel4">アジア</li><% end %>
               <%= link_to @navi5 do %><li rel="panel5">オセアニア</li><% end %>
               <%= link_to @navi6 do %><li rel="panel6">アメリカ</li><% end %>
           </div> 

    </div>

</div>