<p>Hello <%= @resource.email %>!</p>

<p>パスワードの変更依頼を受け付けました。下記のリンクでパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は無視してください。</p>
<p>ご自身のパスワードは上記リンクで変更しない限り再設定されません。</p>
